<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1">
    	<title>Datathon</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<link rel="stylesheet" href="style.css">
		<link rel="shortcut icon" href="favicon.png" type="image/x-icon">

		<script src="particles.js"></script>
		<script src="index.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
	</head>
	<body>
	 <div id="particles-js">
		<div id="intro" class="container-fluid">
			<div class="row">
				<div id="intro-text" class="col-xs-12">
					<img src="logo.png" id="logo" />
					<h1>Brown Datathon</h1>
					<h2>March 4-5, 2017</h2>
					<h3>@ Providence, RI</h3>
				</div>
			</div>
		</div>
	</div>
	<div id="about" class="container-fluid">
		<div class="row">
			<div class="col-sm-3"></div>
			<div id="about-text" class="col-sm-6">
				<img src="banner.png" id="banner">
				<p>The American Statistical Association (ASA) DataFest is a celebration of data in which teams of undergraduates work around the clock to find and share meaning in a large, rich, and complex data set.</p>

				<p>The event is sponsored by the Computer Science department at Brown University, as part of the Data Science Initiative - a multimillion dollar cross departmental program that seeks to integrate data science into the current curriculum at Brown.</p>

				<p>Apart from the competition itself, there will be many surrounding activities. Ranging from educational workshops to meet-and-greets, the celebration of data will include interesting presentations as well as an exhibition of the projects that BDS members have been working on over the semester.</p>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</div>
	</body>
	<script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
</html>